name: "ci build"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  build:
    name: PHP ${{ matrix.php-versions }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.2', '8.3', '8.4']
    steps:
      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          extensions: intl
          php-version: "${{ matrix.php-versions }}"
          coverage: xdebug
          tools: composer:v2
          ini-values: xdebug.mode=coverage
      - name: Checkout
        uses: actions/checkout@v2
      - name: "Validate composer.json and composer.lock"
        run: "composer validate"
      - name: "Install dependencies"
        run: "composer install --prefer-dist --no-progress && composer development-enable"
      - name: "Rector check"
        run: "composer rector"
      - name: "CS Check"
        run: "composer cs-check"
      - name: "Run test suite"
        env:
          XDEBUG_MODE: coverage
        run: "composer test-coverage"
      - name: Upload coverage to Codecov
        if: github.event.pull_request.head.repo.full_name == 'samsonasik/mezzio-react' && matrix.php-versions == '8.4'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./clover.xml
          flags: tests
          name: codecov-umbrella
          fail_ci_if_error: true